{# templates/default/new.html.twig #}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{#<table>#}
    {#{% for c in customers %}#}
        {#<tr>#}
            {#<td>{{ c.id }}</td>#}
            {#<td>{{ c.firstName }}</td>#}
            {#<td>{{ c.lastName }}</td>#}
        {#</tr>#}
    {#{% endfor %}#}
{#</table>#}